<h1> <%= @product.name %> </h1>

<h3>Cost: <%= @product.cost %> </h3>
<h3>Country of Origin: <%= @product.origin %> </h3>

<h4>Reviews:</h4>

<% @product.reviews.each do |review| %>
  <div class="review panel panel-default">
    <div class="panel-heading">
      <strong> <%= review.author %> | Rating: <%= review.rating %> </strong>
    </div>
    <div class="panel-body">
      <p> <%= review.content_body %> </p>
    </div>
  </div>
<% end %>

<p><%= link_to "Add Review", new_product_review_path(@product) %></p>
<hr>
<button class="btn btn-danger"><%= link_to "Delete", product_path(@product),
                               :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %></button>
